.food {
    position: relative;
}

.title {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(2.5rem, 10 vw + 0.5rem, 6rem);
    text-align: center;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.links {
    text-align: center;
}
#link1 {
    color: white;
    background-color: rgb(255, 179, 179);
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 25px;
}

#link2 {
    color: white;
    background-color: rgb(147, 181, 255);
    font-size: 17px;
    margin-bottom: 10px;
    padding: 25px;
}

#link3 {
    color: white;
    background-color: rgb(97, 76, 59);
    font-size: 17px;
    margin-bottom: 10px;
    padding: 25px;
}

#footer {
    text-align: center;
}

